@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

// 左邊選單樣式調整
.nav-pills .nav-link.active {
  color: #e1ff00 !important;
  background-color: rgba(255, 255, 255, 0);
}

.accordion {
  --bs-accordion-btn-icon: url("https://raw.githubusercontent.com/Jo-Kyu/focus_fitness_project/dee4b84316581b9f30b5b0711577d1a2ef5a883d/assets/images/icons/ic_Chevron_down.svg");
  --bs-accordion-btn-active-icon: url("https://raw.githubusercontent.com/Jo-Kyu/focus_fitness_project/dee4b84316581b9f30b5b0711577d1a2ef5a883d/assets/images/icons/ic_Chevron_down.svg");
}

.accordion-item {
  border-radius: 12px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 0px !important;

  .nav-link {
    color: #f3f4ef;
  }
}

.accordion-button {
  color: #f3f4ef;
  background-color: rgba(255, 255, 255, 0) !important;
  &:not(.collapsed) {
    color: #f3f4ef;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
      rgba(255, 255, 255, 0.2);
  }
}

.mlr--10 {
  margin: 0 -10px;
  @include pad {
    margin: 0 -6px;
  }
}

.plr-10 {
  padding: 0 10px;
  @include pad {
    padding: 0 6px;
  }
}

// 手機板選單
.nav-item_new {
  .nav-link {
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .active {
    color: #e1ff00;
    background-color: #4c5c0b !important;
  }
}

.phone_nav {
  flex-wrap: nowrap;
  position: relative;
}

.ruby-text {
  display: ruby-text;
}

// 篩選器樣式

// 手機板
.w-200 {
  width: 200px;
}

.filter_svg {
  width: 16px;
  height: 16px;
}

.offcanvas {
  border-radius: 16px 16px 0 0;
}

.offcanvas_new {
  --bs-offcanvas-height: 36vh;
}

.shodow_none {
  box-shadow: none !important;
}

// PC版
.dropdown .btn {
  z-index: 10;
  padding: 10px 12px;
  border-radius: 8px;
  border: 0px;
  color: #f3f4ef;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset -6px -6px 4px rgba(127, 127, 127, 0.08);
  box-shadow: inset 2px 3px 5.5px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(30px);

  &:focus {
    box-shadow: inset -6px -6px 4px rgba(127, 127, 127, 0.08);
    box-shadow: inset 2px 3px 5.5px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 0 0.25rem rgb(37 60 95 / 0%);
  }
}

.dropdown-menu {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset -6px -6px 4px rgba(127, 127, 127, 0.08);
  box-shadow: inset 2px 3px 5.5px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(30px);
  .dropdown-item {
    font-weight: 400;
  }
}

// 商品卡圖片拉高
.cardlist-img-h {
  height: 280px;
  @include pad {
    height: 155px;
  }
}

// 換頁頁碼
.pagination {
  --bs-pagination-bg: rgba(255, 255, 255, 0);
  --bs-pagination-color: #808080;
  --bs-pagination-focus-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0);

  .page-item {
    margin: 0 6px;

    // 禁用狀態
    &.disabled .page-link {
      color: #999;
      background-color: rgba(255, 255, 255, 0);
      cursor: not-allowed;
    }

    // <li class="page-item active">
    &.active .page-link  {
      color: black;
      background-color: #e1ff00;
      border-color: #e1ff00;

      path {
        fill: black;
      }
    }

    // 普通狀態
    .page-link {
      border: 0px;
      color: #808080;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      transition: all 0.2s ease;

      // 按下瞬間
      &:active {
        transform: scale(0.85);
      }

      // 懸停
      &:hover {
        color: black;
        background-color: #e1ff00;

        path {
          fill: black;
        }
      }

      // 焦點
      &:focus {
        color: black;
        background-color: #e1ff00;
        box-shadow: none; // 移除 BS5 的焦點陰影
      }
    }
  }
}
